.enroll-form h5 {
  border-top: 1px solid var(--secondary);
  width: 200px;
  text-align: center;
  align-self: center;
  color: var(--secondary);
}

.enroll-form {
  padding: 20px;
}

.enroll-form .form-field {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.checkbox-form-field{
  display: flex;
  gap: 10px;
}

.my-link{
  color: #02a0fc;
  text-decoration: underline;
}

.cit-state-row{
  display: flex;
  gap: 30px;
}

.children-information,
.parent-information,
.emergency-contact,
.program-select {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.form-button button[disabled] {
  color: black;
  border-color: white;
  background-color: white;
  opacity: 0.5;
}

/*  */

.collapse-content p {
  padding: 15px;
}

.collapse-content {
  display: block;
  transition: max-height 0.3s ease-out;
  max-height: 0;
  overflow: scroll;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.expanded {
  max-height: 1000px; /* Valor suficientemente grande para mostrar todo o conteúdo */
}

.collapsed {
  max-height: 0;
}

@media (min-width: 768px) {
  .enroll-form {
    width: 500px;
  }
}
