@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #062957;
  --secondary: #d49529;
}

body { 
  color: white;
  font-family: 'Montserrat',sans-serif; 
  margin:0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}
.icon-logo{
  color: white;
  width: 128px;
}


h1 {
  font-weight: 900;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.top-page-image{
  width: 100%;
  display: flex;
  justify-content: center;
}

.article-base{
  margin: 20px 10%;
}

.article-base p{
  text-align: justify;

}

.my-btn{    
  color:black;
  border-color: white;
  background-color: white;
}

.my-btn:hover{    
  color: white;
  border-color: green;
  background-color: green;
}
