.carousel-component{
    padding: 5% 0;
}

.carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 480px){
    .carousel-component {
        max-width: 300px;
        height: auto;
    }
}

@media (min-width: 481px) and (max-width: 991px){
    .carousel-component {
       max-width: 500px;
    }
}

@media (min-width: 992px){
    .carousel-component {
       max-width: 900px;   
        height: auto; 
    }
}



