@media (max-width: 480px) {
  .carousel-component {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .carousel-component {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .carousel-component {
    max-width: 1200px;
    height: auto;
  }
}
